<section id="add" class="container">
  <div class="form-wrap">
    <h1>Add A Blog</h1>
    {{#each errors}}
    <div class="errors">
      <p>{{text}}</p>
    </div>
    {{/each}}

    <form action="/blogs/add" method="POST">
     <div class="input-group">
        <label for="title">Blog Author</label>
        <input type="text" name="author" id="author" class="input-box"
          placeholder="eg. Abc Xyz" maxlength="50" value="{{author}}">
      </div>
      <div class="input-group">
        <label for="title">Blog Title</label>
        <input type="text" name="title" id="title" class="input-box"
          placeholder="eg. Small Wordpress website, React developer" maxlength="100" value="{{title}}">
      </div>
      <div class="input-group">
        <label for="description">Blog Description</label>
        <textarea name="description" id="description" class="input-box" placeholder="Describe the details of the blog"
          rows="10" value="{{description}}"></textarea>
      </div>
      <div class="input-group">
        <label for="budget">Contact Email</label>
        <input type="email" name="contact_email" id="contactemail" class="input-box" placeholder="Enter an email" value="{{contact_email}}">
      </div>
      <input type="submit" value="Add Blog" class="btn btn-reverse">
    </form>
  </div>
</section>
